<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Example</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
        }

        .chat-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        .messages-container {
            max-height: 500px;
            min-height: 500px; /* 채팅창 최소 높이 설정 */
            overflow-y: auto;
        }

        .chat-message {
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 8px;
        }

        .user-message {
            background-color: #f2f2f2;
            text-align: right;
        }

        .bot-message {
            background-color: #dff6fc;
            text-align: left;
        }

        .input-container {
            display: flex;
            margin-top: 20px;
        }

        #user-input {
            flex: 1;
            padding: 10px;
            border: none;
            border-radius: 8px;
            background-color: #f2f2f2;
            font-size: 16px;
            margin-right: 10px;
        }

        #send-button {
            border: none;
            border-radius: 8px;
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/main">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/add">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>

            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->

<header class="bg-dark py-5" style="margin-bottom: +50px;">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h1 class="display-3 fw-bolder">피어나</h1>
            <p class="lead fw-normal text-white-50 mb-0">일상을 꽃으로 채우다</p>
        </div>
    </div>
</header>

<div class="chat-container">

    <div class="messages-container" id="messages-container">

        <!-- 채팅 메시지를 출력할 빈 div -->

    </div>
    <div class="input-container" >
        <input type="text" id="user-input" placeholder="Type your message..." onkeydown="handleInputKeyPress(event)">
        <button id="send-button">Send</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" style="text-align: center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">다른 사람들에게 결과를 공유하세요!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <a href="ko.qr-code-generator.com/" border="0" style="cursor:default" rel="nofollow">
                    <img src="https://chart.googleapis.com/chart?cht=qr&chl=https%3A%2F%2Fwww.naver.com%2F&chs=180x180&choe=UTF-8&chld=L|2">
                </a>
                <p><br>
                    <b>공유가 끝났다면 '닫기' 버튼을 눌러주십시오.</b>
                </p>

                <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.3.0/kakao.min.js"
                        integrity="sha384-70k0rrouSYPWJt7q9rSTKpiTfX6USlMYjZUtr1Du+9o4cGvhPAWxngdtVZDdErlh" crossorigin="anonymous"></script>
                <script th:inline="javascript">
                    var articleObject = [[${kakaoApikey}]];
                    Kakao.init(articleObject);
                </script>

                <a id="kakaotalk-sharing-btn" href="javascript:;">
                    <img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
                         alt="카카오톡 공유 보내기 버튼" />
                </a>
                <a id="kakaotalk-sharing-btn1" href="javascript:;">
                    <img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
                         alt="카카오톡 공유 보내기 버튼" />
                </a>
                <a id="kakaotalk-sharing-btn2" href="javascript:;">
                    <img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
                         alt="카카오톡 공유 보내기 버튼" />
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/main}'|">닫기</button>
            </div>
        </div>
    </div>
</div>

<footer class="py-5 bg-dark"  style="margin-top: +50px;">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- Core theme JS-->
<script th:src="@{/js/scripts.js}"></script>

<script>
    const sendButton = document.getElementById("send-button");
    const userInput = document.getElementById("user-input");
    const messagesContainer = document.getElementById("messages-container");
    const btn = document.getElementById("messages-container");

    // 기본 메시지를 화면에 추가하는 함수
    function displayBotMessage(message) {
        const botMessageElement = document.createElement("div");
        botMessageElement.classList.add("chat-message", "bot-message");
        botMessageElement.textContent = message;
        messagesContainer.appendChild(show);
    }

    // 페이지가 로드되었을 때 기본 메시지를 추가
    window.addEventListener('load', () => {
        const defaultMessages = ["안녕하세요!<br> 고객님에게 꼭 맞는 꽃 추천 챗봇, '피오나'입니다.<br>질문에 대한 답을 자세하게 작성할수록<br>" +
        " 고객님이 원하시는 꽃을 찾을 수 있어요!", "어떤 사람에게 선물 하시는 꽃인가요?"];
        defaultMessages.forEach(message => {
            displayBotMessageWithLineBreak(message);
        });
        scrollToBottom(messagesContainer);
    });


    sendButton.addEventListener("click", async () => {

        const userMessage = userInput.value;

        if(userMessage === "!구매"){
            window.location.href = "http://localhost:8080/purchase";
        }else if(userMessage === "!다시") {
            window.location.href = "http://localhost:8080/chat";
        } else if(userMessage === "!공유"){
            const modal = document.getElementById("exampleModal");
            const modalInstance = new bootstrap.Modal(modal);
            modalInstance.show();
        }else {
            displayUserMessage(userMessage);
            scrollToBottom(messagesContainer);
            fetch("/chat", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(userMessage),
            })
                .then(response => response.text())
                .then(data => {
                    // 새로운 메시지를 화면에 추가
                    const botMessageElement = document.createElement("div");
                    botMessageElement.classList.add("chat-message", "bot-message");
                    botMessageElement.innerHTML = data; // innerHTML을 사용하여 HTML 태그 인식
                    messagesContainer.appendChild(botMessageElement);

                    scrollToBottom(messagesContainer);
                });
        }
    });


    function displayBotMessageWithLineBreak(message) {
        const botMessageElement = document.createElement("div");
        botMessageElement.classList.add("chat-message", "bot-message");
        botMessageElement.innerHTML = message; // innerHTML을 사용하여 HTML 태그 인식
        messagesContainer.appendChild(botMessageElement);
    }
    function displayUserMessage(message) {
        const userMessageElement = document.createElement("div");
        userMessageElement.classList.add("chat-message", "user-message");
        userMessageElement.textContent = message;
        messagesContainer.appendChild(userMessageElement);
        userInput.value = "";
    }

    function scrollToBottom(element) {
        element.scrollTop = element.scrollHeight;
    }

    function handleInputKeyPress(event) {
        if (event.key === "Enter") {
            event.preventDefault(); // 기본 엔터 동작 방지
            sendButton.click(); // send 버튼 클릭
        }
    }

    Kakao.Share.createCustomButton({
        container: '#kakaotalk-sharing-btn',
        templateId: 97832,
        templateArgs: {
            title: '제목 영역입니다.',
            description: '설명 영역입니다.',
        },
    });

</script>

</body>
</html>